[Unit]
Description = frpc for local binding
After = network.target syslog.target
Wants = network.target

[Service]
Type = simple
ExecStart = /usr/bin/frpc -c /etc/frp/frpc-local.toml
Restart=on-failure
RestartSec=60s

[Install]
WantedBy = multi-user.target
